<!DOCTYPE html>
<html>
    <head>
        <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="stylebdd.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Recette</title>
        <style>
            h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600 ;
    height: 8px;
    text-align:center;
    font-size: 4vw;
    color:rgb(43, 20, 13)
}

h2 {
text-transform: uppercase;
font-size: 30px;
margin-left : 80px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


h3 {
    text-transform: uppercase;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600 ;
    height: 8px;
    text-align:center;
    font-size: 2vw;
    color:rgba(173, 58, 23, 0.582)
    }
    
    

h4 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 130;
    height: 8px;
    text-align:center;
    font-size: 18;
    color:rgb(117, 54, 35)
  }

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
    font-weight: 300;
    font-size:18px;
    margin-left : 50px;
  }

a {
    color:rgba(173, 58, 23, 0.582)
}

.bande {
    background-color: rgba(90, 36, 18, 0.178);
    height: 20%;
    bottom: 0px;
    margin : 0;
  }

.fond {
    background-color: rgba(90, 36, 18, 0.041);
    bottom: 0px;
    margin : 0;
  }

.img-recette {
    width: 992px;
    max-width: 90%;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inforecette {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:15px;
    color:rgba(90, 36, 18, 0.8);
}

.sanspuce {
    list-style-type: none;
    line-height: 20pt;
    margin-left : 5px;
}

.puceronde {
    list-style-type: circle;
}

.tableau-top{
  border-width:20px;
  border-style:dotted dotted dotted dotted;
  border-color: rgba(90, 36, 18, 0.25);
  width:35%;
  padding-right : 50px;
}

.tableau-bottom{
    border-width:20px;
    border-style:none none none none;
    border-color: rgba(90, 36, 18, 0.25);
    width:35%;
    margin-right:30px;
  }

        </style>
    </head>

    <body>

<div class="bande">
<br>
<h1>Tarte tatin aux carottes</h1>
<br>
<h4>Une recette de tarte tatin de légume, à déguster tiède</h4>

<table>
<tr>
    <td rowspan=2>
    <img class="img-recette" src=".\Carottes.jpg">
    </td>
    <td class="tableau-top">
    <ul class="inforecette sanspuce">
        <li><b>Nombre de personnes :</b> 6</li>
        <li><b>Temps de préparation :</b> 50 minutes</li>
        <li><b>Calories :</b> 489</li>
     </ul>
    </td>
    </tr>
<tr>
    <td class="tableau-bottom">
    <ul class="inforecette puceronde">
    <b><u>Ingrédients :</b></u>
    <br>
    <br>
    <li><b>1 kg de carottes</b></li> <br>
    <li><b>1 pâte brisée</b> - vous pouvez la réaliser vous-même avec de la farine, du beurre, du sucre, du sel et de l'eau</li>
    <br><li><b>500 g de ricotta</b> ou un autre fromage à pate molle</li>
    <br><li><b>4 gousses d’ail</b></li>
    <br><li><b>115 g de beurre</b></li>
    <br><li><b>1 verre de vin blanc</b> (facultatif)</li>
    </ul>
    </td>
</tr>
</table>
</div>

<div class="fond">
<br>
<br>
<h2>étape 1</h2>
<p>Préchauffez le four à 210 °C (th. 7).</p>
<h2>étape 2</h2>
<p>Dans une sauteuse, faites fondre 100 g de beurre. Ajoutez les carottes coupées en rondelles, l’ail pressé, le sucre, 3 pincées de cumin, sel et poivre.</p>
<h2>étape 3</h2> 
<p>Mouillez avec le vin et laissez cuire sur feu doux, 20 min.</p>
<h2>étape 4</h2> 
<p>Répartissez les carottes dans un moule à tourte beurré et saupoudré de sucre. Recouvrez d’une couche épaisse de ricotta puis étalez la pâte dessus.</p>
<h2>étape 5</h2> 
<p>Enfournez 20 à 25 min jusqu’à ce que la pâte soit bien dorée. Démoulez et servez chaud.</p>
<br><br><br><br>
<a href="pageaccueil"><h3>Retour page d'accueil</h3></a> 
<br>
</div>

</body>
</html>