<!DOCTYPE html>
<html>
    <head>
        <title>Cette page est une recette</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <style>
            h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600 ;
    height: 8px;
    text-align:center;
    font-size: 4vw;
    color:rgb(43, 20, 13)
}

h2 {
text-transform: uppercase;
font-size: 30px;
margin-left : 80px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


h3 {
    text-transform: uppercase;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600 ;
    height: 8px;
    text-align:center;
    font-size: 2vw;
    color:rgba(173, 58, 23, 0.582)
    }
    
    

h4 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 130;
    height: 8px;
    text-align:center;
    color:rgb(117, 54, 35)
  }

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
    font-weight: 300;
    font-size:18px;
    margin-left : 50px;
  }

a {
    color:rgba(173, 58, 23, 0.582)
}

.bande {
    background-color: rgba(90, 36, 18, 0.178);
    height: 20%;
    bottom: 0px;
    margin : 0;
  }

.fond {
    background-color: rgba(90, 36, 18, 0.041);
    bottom: 0px;
    margin : 0;
  }

.img-recette {
    width: 992px;
    max-width: 90%;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inforecette {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:15px;
    color:rgba(90, 36, 18, 0.8);
}

.sanspuce {
    list-style-type: none;
    line-height: 20pt;
    margin-left : 5px;
}

.puceronde {
    list-style-type: circle;
}

.tableau-top{
  border-width:20px;
  border-style:dotted dotted dotted dotted;
  border-color: rgba(90, 36, 18, 0.25);
  width:35%;
  padding-right : 50px;
}

.tableau-bottom{
    border-width:20px;
    border-style:none none none none;
    border-color: rgba(90, 36, 18, 0.25);
    width:35%;
    margin-right:30px;
  }

        </style>
    </head>

    <body>
        
 <div class="bande">
<br>
<h1>Gratin aux courgettes</h1>
<br><br>
<h4>Un plat facile et rapide à réaliser, qui accompagnera parfaitement vos viandes et poissons.</h4>

<br><br><table>
<tr>
    <td rowspan=2>
    <img class="img-recette" src=".\courgettes.jpg" alt="Cette délicieuse recette réjouira toute la famille">
    </td>
    <td class="tableau-top">
    <ul class="inforecette sanspuce">
        <li><b>Nombre de personnes :</b> 4</li>
        <li><b>Temps de préparation :</b> 30 minutes</li>
        <li><b>Calories :</b> 644</li>
     </ul>
    </td>
    </tr>
<tr>
               <td class="tableau-bottom">
                <ul class="inforecette puceronde">
                <b><u>Ingrédients :</b></u>
                <br>
                <br>
                <li><b>4 courgettes</b></li> <br>
                <li><b>3 oignons</b></li>
                <br><li><b>100 g de gruyère râpé</b></li>
                <br><li><b>2 cuillères à soupe de crème fraîche</b></li>
                <br><li><b>1 noix de beurre</b></li>
                <br><li><b>Sel</b></li>
                <br><li><b>Poivre</b></li>
                </ul>
                </td>
            </tr>
            </table>
            </div>
            <td>
  
            <br><h2>étape 1</h2>
            <p>Emincer les oignons.</p>
            <h2>étape 2</h2>
            <p>Les faire fondre dans le beurre</p>
            <h2>étape 3</h2>
            <p>Râper 4 courgettes avec leur peau.</p>
            <h2>étape 4</h2>
            <p>Les ajouter aux oignons.</p>
            <h2>étape 5</h2>
            <p>Préchauffer le four à 200°C (thermostat 6-7).</p>
            <h2>étape 6</h2>
            <p>Mélanger le gruyère râpé, les oeufs, la crème fraîche, puis saler et poivrer.</p>
            <h2>étape 7</h2>
            <p>Mettre les courgettes dans un plat et verser par dessus la sauce et faire à four chaud pendant 15 min.</p>
        </td>
        <br><br>
        <a href="pageaccueil"><h3>Retour page d'accueil</h3></a> 
        <br>
    </body>
</html>