<!DOCTYPE html>
<html>
    <head>
        <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="stylebdd.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Poiret+One" rel="stylesheet">
        <title>Recette</title>
        <style>

/*titre*/ h1 {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    height: 8px;
    text-align:center;
    font-size: 4vw;
    color:rgb(43, 20, 13)
}

/*titre étapes*/ h2 {
text-transform: uppercase;
text-align:left;
font-size: 2.5vw;
font-family: 'Poiret One', cursive;
margin-left : 30px;
}


/*titre ingrédients*/ h5 {
text-transform: uppercase;
text-align:left;
font-size: 2vw;
color:rgba(90, 36, 18, 0.8);
margin-left : 25px;
font-family: 'Poiret One', cursive;
}

/*taleau ingrédients*/ .table-ingredients {
    vertical-align: top;
}

/*retour page d'accueil*/h3 {
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    font-weight: 600 ;
    height: 8px;
    text-align:left;
    font-size: 2vw;
    color:rgb(218, 205, 202)
    }

/*description sous le titre*/ h4 {
    font-family: 'Poiret One', cursive;
    font-weight: 130;
    font-size: 2vw;
    height: 8px;
    text-align:center;
    font-size: 18;
    color:rgb(117, 54, 35)
  }

/*description étapes*/ p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
    font-weight: 300;
    font-size:1.7vw;
    text-align:left;
    margin-left : 30px;
    margin-bottom : 50px;


  }

a {
    color:rgba(173, 58, 23, 0.582)
}

.bande {
    background-color: rgba(90, 36, 18, 0.178);
    height: 20%;
    bottom: 0px;
    margin : 0;
  }

.fond {
    background-color: rgba(90, 36, 18, 0.041);
  }

.img-recette {
    width: 800px;
    max-width: 70%;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.inforecette {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color:rgba(90, 36, 18, 0.8);
}

.sanspuce {
    list-style-type: none;
    line-height: 45px;
    border-width:10px;
    border-color: rgba(90, 36, 18, 0.25);
    vertical-align:bottom;
    border-style:double;
    }

.puceronde {
    margin-left : 5px;
    list-style-type: circle;
  }

.libelleinfo {
    text-align: right;
    font-size: 18px;
    color:rgba(43, 20, 13, 0.877);
    font-family: 'Hind Siliguri', sans-serif;
    }

.descriptioninfo {
    text-align: left;
    font-size: 27px;
    font-family: 'Poiret One', cursive;
    padding-left: 10px}

footer {
    background-color: rgba(124, 34, 4, 0.945);
    padding-top: 15px;
    }

.footertable {
margin-left:5vw;
margin-right:5vw;
width:90%;
}

    </style>
    </head>

    <body>


<div class="bande"><br>
<h1>Omelette au fromage</h1>
<br><br><h4>Simple et rapide pour un repas léger.</h4>
 
<br><br>

<table>
<tr>
    <td rowspan=2>
    <img class="img-recette" src=".\Omelette.jpg">
    </td>
    <td>
        <table class="inforecette sanspuce">
            <tr>
                <td class="libelleinfo">
                    Nombre de personnes  
                </td>
                <td class="descriptioninfo">
                    <b>4</b>
                </td>
            </tr>

            <tr>
                <td class="libelleinfo">
                    Temps de préparation
                </td>
                <td class="descriptioninfo">
                    <b>  15 minutes</b>
                </td>
            </tr>

            <tr>
                <td class="libelleinfo">
                    Difficulté
                </td>
                <td class="descriptioninfo">
                    <b>  Très Facile</b>
                </td>
            </tr>

            <tr>
                <td class="libelleinfo">
                    Calories
                </td>
                <td class="descriptioninfo">
                    <b>662</b>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>

<div class="fond">
<br>
<br>
<table>
    <tr>
    <td class="table-ingredients">

    <h5>Ingrédients</h5>
    <br>
    <ul class="inforecette puceronde">
    <li><b>7 oeufs</b></li> <br>
    <li><b>200 g de gruyère râpé</b></li>
    <br><li><b>1 grosse cuillère à soupe de crème fraîche épaisse/b></li>
    <br><li><b>2 grosse à soupe de ciboulette</b></li>
    <br><li><b>1 pincée de noix de muscade râpée</b></li>
    <br><li><b>30 g de beurre</b></li>
    </ul>
    </td>
    <td>
<h2>étape 1</h2>
<p>Cassez les oeufs dans une terrine puis fouettez-les avec la crème, la ciboulette, la noix de muscade. Salez et poivrez à votre convenance.</p>
<h2>étape 2</h2>
<p>Faites chauffer le beurre dans une grande poêle et versez le mélange. Faites cuire à feu très vif, puis baissez le feu, ajoutez le fromage râpé et laissez cuire encore quelques minutes.</p>
<h2>étape 3</h2> 
<p>Pliez ensuite votre omelette à l'aide d'une spatule et faites-la dorer sur les deux faces. Servez bien chaud avec une salade verte bien assaisonnée.</p>
<br>
<br>
</td>
</tr>
</div>
</table>

<footer>
<table class="footertable">
    <td width=60%>
<a href="pageaccueil"><h3 style="text-align: left">Retour page d'accueil</h3></a> 
<br>
<br>
</td>
    <td width=15%>
<a href="contact"><h3 style="text-align: left">A propos</h3></a> 
<br>
<br>
</td>
    <td width=25%>
<a href="contact#nouscontacter"><h3 style="text-align: left">Nous contacter</h3></a> 
<br>
<br>
    </td>
    </table>
</footer>

</body>
</html>