<!DOCTYPE html>
<html>
    <head>
        <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="./stylebdd.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Recette</title>
    </head>

    <body>

<div class="bande">
<br>
<h1>Omelette au fromage</h1>
<br>
<h4>Simple et rapide pour un repas léger.</h4>

<table>
<tr>
    <td rowspan=2>
    <img class="img-recette" src="./Omelette.jpg">
    </td>
    <td class="tableau-top">
    <ul class="inforecette sanspuce">
        <li><b>Nombre de personnes :</b> 4</li>
        <li><b>Temps de préparation :</b> 15 minutes</li>
        <li><b>Calories :</b> 662</li>
     </ul>
    </td>
    </tr>
<tr>
    <td class="tableau-bottom">
    <ul class="inforecette puceronde">
    <b><u>Ingrédients :</b></u>
    <br>
    <br>
    <li><b>7 oeufs</b></li> <br>
    <li><b>200 g de gruyère râpé</b></li>
    <br><li><b>1 grosse cuillère à soupe de crème fraîche épaisse/b></li>
    <br><li><b>2 grosse à soupe de ciboulette</b></li>
    <br><li><b>1 pincée de noix de muscade râpée</b></li>
    <br><li><b>30 g de beurre</b></li>
    </ul>
    </td>
</tr>
</table>
</div>

<div class="fond">
<br>
<br>
<h2>étape 1</h2>
<p>Cassez les oeufs dans une terrine puis fouettez-les avec la crème, la ciboulette, la noix de muscade. Salez et poivrez à votre convenance.</p>
<h2>étape 2</h2>
<p>Faites chauffer le beurre dans une grande poêle et versez le mélange. Faites cuire à feu très vif, puis baissez le feu, ajoutez le fromage râpé et laissez cuire encore quelques minutes.</p>
<h2>étape 3</h2> 
<p>Pliez ensuite votre omelette à l'aide d'une spatule et faites-la dorer sur les deux faces. Servez bien chaud avec une salade verte bien assaisonnée.</p>
<br><br><br><br>
<a href="pageaccueil"><h3>Retour page d'accueil</h3></a> 
<br>
</div>

</body>
</html>