

<!DOCTYPE html>
<html>
<head>
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="./mystyle.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bienvenue</title>
</head>

<body>
<br>
<br>

<div class="bande1">
    <div class="col-md-12" align="center">
            <br>
            <br>
        <img class="img-responsive logo" src="./logo.jpg">
        <td><h3>Le site qui vous permet de recycler les aliments qui restent dans votre frigidaire à l'aide de recettes étonnantes</h3>
            <h3><b>Commencez dès maintenant !</b> </h3></td>
        <br>
    </div>   
</div>
<table>
    <tr>   
    <h2>Que reste-t-il dans votre frigidaire?</h2>
    </tr>
<br>
<br>

<p> 
<select class=menuderoulant name="Menu" onchange="javascript:location.href=this.value;">   
        <option value="./pageaccueil" selected="selected" >---Ingrédient---</option>   
        <option value="./Carottes.handlebars">Carotte</option>   
        <option value="./Courgette" >Courgette</option>   
        <option value="./Omelette" >Omelette</option>   
        </select> 
    </p>
    </form>
</table>
<br>
<br>
<div class="row">
        <nav>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
                <li class ="menu" align="center">
                    <a href="file:///Users/sophieciyiwu/Desktop/4A/T2/3.%20Cre%CC%81ation%20d'un%20site%20web/CreationdeSiteWeb/mongolfood/categories.html">Catégories ></a>
                </li>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
                <li class ="menu" align="center">
                    <a href="file:///Users/sophieciyiwu/Desktop/4A/T2/3.%20Cre%CC%81ation%20d'un%20site%20web/CreationdeSiteWeb/mongolfood/apropos.html">À propos</a>
                </li>
            </div>
        </nav>
<br>
<br>

    </div>

</body>
</html>