

<!DOCTYPE html>
<html>
<head>
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="./mystyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poiret+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bienvenue</title>
    <style>

.logo1{
  width: 496px;
  max-width: 40%;
  margin-bottom: 8px
}

.logo2{
  width: 496px;
  max-width: 20vw;
}

body {
    font-family: 'Poiret One', cursive;
    margin: 0px;
    padding: 0px;
}

nav  {
  width: 100%;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color:grey;
}

.menu {
  font-size:18px;
  color:rgb(57, 59, 88);
  width:100%;
  text-align: center;
  text-decoration: none;

}


.bande0 {
  background-color: rgba(129, 183, 219, 0.404);
  bottom: 0px;
  margin : 0;
  text-align:right;

}

.bande1 {
  background-color: rgba(129, 183, 219, 0.404);
  bottom: 0px;
  margin : 0;
  text-align:center;
}

.bande2 {
  background-color: rgba(125, 128, 131, 0.151);
  border-width:2px;
  border-style: solid;
  border-color:rgba(59, 48, 40, 0.753);
  margin-left : 20vw;
  margin-right : 20vw;
  border-radius:20px;

}

h2 {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    margin-top:80px;
    margin-bottom:110px;
    margin-left:50px;
    margin-right:50px;
    font-size: 5vw;
  height: 8px;
  text-align: center;
  color:black
}


h3 {
font-family: 'Open Sans Condensed', sans-serif;
  float:center;
  font-size: 25px;
  text-align: center;
  color: rgb(241, 97, 0);
}

.menuderoulant {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 22px;
text-align: center;
}

.tableau-bottom {
width: 100%;
  font-size:18px;
  color:rgb(66, 67, 78);
  text-align: right;
  text-decoration: none;


}
  }

 </style>
</head>

<body>
<div class="bande0">
  <table class="tableau-bottom">
  <tr>
    <td>
    <img class="logo2" src="./logo.jpg">
    </td>
    <td>
    <h3>Le site qui vous permet de recycler les aliments qui restent dans votre frigidaire à l'aide de recettes étonnantes !
    </td>
  </tr>
</table>
</div>


<br>
<br>
<br>
<div class="bande2">
<h2> Que reste-t-il dans votre frigidaire?</h2>
<br>
<br>

<p> 
<select class="menuderoulant" name="Menu" onchange="javascript:location.href=this.value;">   
        <option value="./pageaccueil" selected="selected" >---Ingrédient---</option>   
        <option value="./Carottes">Carotte</option>   
        <option value="./Courgette" >Courgette</option>   
        <option value="./Omelette" >Oeuf</option>   
        </select> 
  </p>
    </form>
    </div>

<br>
<br>
<br>
<div class="bande1">
  <br>
  </h3>
  </center>

<nav class="menu" align="center">
       <a href="Recommendation">Recommendations ></a>
       <br>
       <a href="contact">Qui sommes-nous ></a>
       <br>
       <a href="contact#nouscontacter">Nous contacter ></a>
       <br>
          <br>
           <img class="logo2" src="./logo.jpg">

</nav>
<br>
<br>

</div>

</body>
</html>