

<!DOCTYPE html>
<html>
<head>
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="./mystyle.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bienvenue</title>
    <style>
        .logo{
  width: 496px;
  max-width: 40%;
  margin-bottom: 50px
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0px;
  padding: 0px;
}

nav  {
  width: 100%;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color:grey;
}

.menu {
  font-size:18px;
  color:rgb(57, 59, 88);
  margin-top:10px;
  width:100%;
}

.bande1 {
  background-color: rgba(129, 183, 219, 0.404);
  bottom: 0px;
  margin : 0;
}


h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
  font-weight: 300;
  height: 8px;
  text-align: center;
  font-size: 30px;
  color:black
}

p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
  font-weight: 300;
  text-align: center;
  font-size:15px
}

h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
  float:center;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: rgb(241, 97, 0);
}

.menuderoulant {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
  font-size: 22px;
  text-align: center;
  border-style: solid;
  border-width:10px;
  border-color:rgba(241, 96, 0, 0.205);

}
    </style>
</head>

<body>
<br>
<br>

<div class="bande1">
    <div class="col-md-12" align="center">
            <br>
            <br>
        <img class="img-responsive logo" src="./logo.jpg">
        <td><h3>Le site qui vous permet de recycler les aliments qui restent dans votre frigidaire à l'aide de recettes étonnantes</h3>
            <h3><b>Commencez dès maintenant !</b> </h3></td>
        <br>
    </div>   
</div>
<table>
    <tr>   
    <h2>Que reste-t-il dans votre frigidaire?</h2>
    </tr>
<br>
<br>

<p> 
<select class=menuderoulant name="Menu" onchange="javascript:location.href=this.value;">   
        <option value="./pageaccueil" selected="selected" >---Ingrédient---</option>   
        <option value="./Carottes">Carotte</option>   
        <option value="./Courgette" >Courgette</option>   
        <option value="./Comte" >Comté</option>   
        </select> 
    </p>
    </form>
</table>
<br>
<br>
<div class="row">
        <nav>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
                <li class ="menu" align="center">
                    <a href="file:///Users/sophieciyiwu/Desktop/4A/T2/3.%20Cre%CC%81ation%20d'un%20site%20web/CreationdeSiteWeb/mongolfood/categories.html">Catégories ></a>
                </li>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
                <li class ="menu" align="center">
                    <a href="contact">Nous contacter </a>
                </li>
            </div>
        </nav>
<br>
<br>

    </div>

</body>
</html>