<!DOCTYPE html>
<html>
    <head>
        <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="stylebdd.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Recette</title>
        <style>
            h1 {
    font-family: 'Poiret One', cursive;
    font-weight: 600 ;
    height: 8px;
    text-align:center;
    font-size: 4vw;
    color:rgb(135, 135, 138)
}

h2 {
text-transform: uppercase;
font-size: 30px;
font-size: 3vw;
margin-left : 50px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


h3 {
    text-transform: uppercase;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600 ;
    height: 8px;
    text-align:center;
    font-size: 2vw;
    color:rgba(173, 58, 23, 0.582)
    }
    
    

h4 {
    font-family: 'Poiret One', cursive;
    font-size: 2.5vw;
    height: 8px;
    text-align:center;
    font-size: 18;
    color:rgb(13, 13, 14)
  }

p {
    font-family: 'Poiret One', cursive;
    text-align:center;
    font-weight: 300;
    font-size:15px;
    font-size:1.5vw;
    margin-left : 50px;
  }

a {
    color:rgba(173, 58, 23, 0.582)
}

.bande {
    background-color: rgba(243, 224, 182, 0.616);
    height: 40%;
    bottom: 50px;
    margin-bottom : 0;
  }

.fond {
    background-color: rgba(90, 36, 18, 0.041);
    bottom: 0px;
    margin : 0;
  }

.img-recette {
    width: 300px;
    max-width: 90%;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 50px;
    border-radius: 70px;
}

.img-recette1 {
    width: 300px;
    max-width: 90%;
    margin-left: 50px;
    margin-top: 0px;
    border-radius: 90px;
}

.inforecette {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2.7vh;
    color:rgba(14, 13, 13, 0.8);
}

.sanspuce {
    list-style-type: none;
    line-height: 15pt;
}

.puceronde {
    margin-left : 5px;
    list-style-type: circle;
}

.tableau-top{
  border-width:10px;
  background-color: rgba(184, 210, 248, 0.507);
  border-style:dashed;
  border-color: rgba(86, 173, 224, 0.384);
  width:35%;
  padding-right : 50px;
}

        </style>
    </head>

    <body>


 <div class="bande">
<br>
<h1><b>Recommendation</b></h1>
<br><br></div><br>
<div class="container">
<div class="row-center">
    <h4><b>Boeuf Bourguignon</b></h4><br>  
    <p><i>Une recette de cuisine d'estouffade de bœuf cuisinée au vin rouge de Bourgogne. </i></p>
    </div>
    <br><div class="row">
        <div class="col-4">
    <img class="img-recette1" src=".\Boeuf-bourguignon.jpg">
    </div>
  <div class="col-4">
  <img class="img-recette" src=".\Boeuf-bourguignon2.jpeg">
  </div>
      <div class="col-4">
  <img class="img-recette" src=".\Boeuf-bourguignon1.jpg">
  </div>
</div>

<table>
<tr>
    </td>
    <td class="tableau-top">
    <ul class="inforecette puceronde">
       <br><li>Morceaux de viande de bœuf cuits à la cocotte dans une sauce bourguignonne, à base de vin rouge, avec une garniture aromatique composée d’oignons, d'ail, de lardons et d'un bouquet garni.</li>
        <li>La cuisson est lente et à feu doux. Les aliments mijotent ainsi en s'imprégnant de vin, lequel, lié avec un peu de farine répartie sur la viande, donne la sauce au vin du plat. </li>
        <li>Traditionnellement servi avec du pain grillé à l'ail, il peut toutefois être servi avec des pommes de terre vapeur, des carottes, des haricots verts, des pâtes (macaroni, tagliatelles) ou avec une garniture bourguignonne, composée de champignons, lardons et petits oignons glacés à brun.</li>
        <li>Le vin est traditionnellement un vin rouge de Bourgogne. La qualité du plat dépend essentiellement de celle de la viande et du vin. Le bourguignon est servi et consommé chaud comme mets de résistance.</li>
     </ul>
    </td>
    </tr>
    </table>

<div class="row-center">
     <br><br><h4><b>Canard Laqué Pékinois</b></h4><br>  
    <p><i>Le canard est laqué, sa peau est luisante et croustillante après avoir été rôti pendant plusieurs heures.</i></p>
    </div>
    <br><div class="row">
        <div class="col-4">
    <img class="img-recette" src=".\CanardLaqué.jpeg">
    </div>
    <div class="col-4">
  <img class="img-recette" src=".\CanardLaqué1.png">
  </div>
   <div class="col-4">
  <img class="img-recette" src=".\CanardLaqué2.jpg">
</div>
</div>

<table>
<tr>
    </td>
    <td class="tableau-top">
    <ul class="inforecette puceronde">
       <br><li>Traditionnellement, le canard est servi en plusieurs plats. </li>
        <li>La peau du canard laqué est coupée, généralement devant le client par un cuisinier et présentée dans un plat, en fine lamelles constitué de la peau laquée, croustillante et d'un peu de graisse et de chair.</li>
        <li>Ces morceaux sont placés par le client sur de fines galettes avec un tronçon d'oignon vert et de concombre trempé dans de la sauce épaisse à base de farine de blé fermentée. La galette peut alors être roulée puis dégustée.</li>
        <li>Le temps que les clients dégustent ce premier plat, le reste de la viande retourne en cuisine, où la viande va servir à préparer une soupe à partir d'un bouillon de légumes, comportant différents épices.</li>
     </ul>
    </td>
    </tr>
</table>

        <br><br><br>
        <a href="pageaccueil"><h3>Retour page d'accueil</h3></a> 
        <br>
    </body>
</html>
