<!DOCTYPE html>
<html>
    <head>
        <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="stylebdd.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Poiret+One" rel="stylesheet">
        <title>Recette</title>
        <style>

.tableau {
margin-left:5vw;
margin-right:5vw;
width:90%;
}
        </style>
        </head>

<body>

<table class="tableau">

</table>